@import 'vars';
@import 'cards';

button.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  gap: var(--space-1);
  background: transparent;

  path {
    @media (prefers-color-scheme: dark) {
      fill: var(--light-purple);
    }
  }

  &:hover {
    background: var(--light-gray);
  }
}
