@import 'vars';

.card {
  --color: var(--gray-alt);

  @media (prefers-color-scheme: dark) {
    --color: var(--white);
  }

  border: pxToRem(1) solid var(--border-color);
  border-radius: pxToRem(4);
  overflow: hidden;
  color: var(--color);

  h5 {
    display: flex;
    align-items: center;
    gap: var(--space-half);

    path {
      @media (prefers-color-scheme: dark) {
        fill: var(--light-purple);
      }
    }
  }

  &-body {
    padding: var(--space-2);
    font-size: pxToRem(12);
    text-wrap: balance;
    display: block;
  }

  &-horz-description {
    --cell-width: #{pxToRem(221)};
    --flex-direction: row;

    @media screen and (max-width: $tablet) {
      --cell-width: 100%;
      --flex-direction: column;
    }

    display: flex;
    flex-direction: var(--flex-direction);
    margin: 0;
    padding: 0;
    gap: var(--space-2);

    > li {
      max-width: var(--cell-width);
      width: 100%;
      margin: 0;
      list-style: none;
    }
  }
}
