@import 'vars';
@import 'mixins';

body {
  background: var(--body-color);
  margin: 0;
}

main {
  max-width: var(--max-container-width);
  margin-inline: auto;
  padding: var(--main-container-padding);
}

img {
  max-width: 100%;
}
