@import 'mixins';

//Sizes
$mobile: 560px;
$tablet: 768px;

:root {
  --space-half: calc(var(--space-1) / 2);
  --space-1: #{pxToRem(16)};
  --space-2: calc(var(--space-1) * 2);
  --space-3: calc(var(--space-1) * 3);
  --space-4: calc(var(--space-1) * 4);
  --max-container-width: #{pxToRem(1074)};
  --main-container-padding: var(--space-3);

  @media screen and (max-width: $tablet) {
    --main-container-padding: var(--space-1);
  }
}

//Fonts
:root {
  --main-font: 'Inter', sans-serif;
}

//Colors
$purple: #5c00dc;

:root {
  --white: #fff;
  --black: #000;
  --purple: #{$purple};
  --light-purple: #{lighten($purple, 20%)};
  --dark-purple: #{darken($purple, 10%)};
  --gray: #444;
  --gray-alt: #222;
  --light-gray: #cccccc;
  --dark-gray: #393551;
  --dark-gray-alt: #333;
  --body-color: var(--white);
  --accent-color: var(--purple);
  --accent-hover-color: var(--dark-purple);
  --border-color: var(--light-gray);
  --text-color: var(--black);
}

//Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--dark-gray-alt);
    --accent-color: var(--light-purple);
    --accent-hover-color: var(--purple);
    --border-color: var(--light-gray);
    --text-color: var(--white);
  }
}

//Misc
:root {
  --transition-duration: 0.2s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0;
  }
}
